.form
  = form_tag('members/search', remote: true) do
    .labels
      = label_tag :name

    .inputs
      = text_field_tag :name

    .link
      = link_to "Advanced Search", "", remote: true, id: "advanced-search-link"

    .button
      = submit_tag "Search", name: nil, id: "search-btn"


:javascript
  $("#search-btn").click( function() {
    $("#members-list").fadeOut(400);
  });