- user = profile.user

.eighty-thousand-hours-profile
  .heading
    .row
      .span3
        .avatar
          = link_to image_tag('/assets/profiles/avatar_default_200x200.png'), user.avatar.url
      .span8
        .header
          .info
            %h1.name
              = profile.name
            %p.location 
              = user.location
            #labels-section
              .labels
                %p Position
                %p Organisation
                %p Industry
                %p Karma score
              .entries
                %p= profile.current_position
                %p= profile.organisation
                %p= profile.career_sector
                %p= user.get_karma_score
            .email
              - if current_user && current_user.eighty_thousand_hours_member?
                %p= user.email
          .buttons
            #contact
              = link_to "Contact", {controller: 'users', action: 'initalise_contact_user', user_id: user.id}, :remote => true, class: "btn btn-danger", id: "contact-btn"

            - if user.external_linkedin
              #linkedin-view
                = link_to image_tag('/assets/linkedin/linkedin_button_reg.gif', size: '160'), user.external_linkedin

            -# if user.linkedin_email != nil
            #linkedin-add
              = link_to image_tag('/assets/linkedin/linkedin_button_reg.gif'), {controller: 'authentications', action: 'linkedin_invite_connection', email: user.linkedin_email, user_id: user.id}, remote: false, id: "linkedin-invite-btn"
          - if user.external_links?
            .external-links
              - if user.external_website?
                = link_to "<i class='icon-info-sign'></i> Personal website".html_safe, user.external_website

              - if user.external_twitter?
                = link_to image_tag("social/twitter.png") + " Twitter".html_safe, user.external_twitter
              
              - if user.external_facebook?
                = link_to image_tag("social/facebook.png") + " Facebook".html_safe, user.external_facebook
              
              - if user.external_linkedin?
                = link_to image_tag("social/linkedin.png") + " LinkedIn".html_safe, user.external_linkedin

          #contact-modal
        -#%hr
  .row
    .span8
      .content
        - if profile.background?
          .section
            .title
            .body
              %h2 Background and interests
              = markdown profile.background

        - if profile.profile_option_causes.any? || profile.profile_option_activities.any?
          .section
            .title
            .body
              - if profile.profile_option_causes.any?
                %h2 Causes I support
                %ul{ class: "shortened-list", id: "causes-list" }
                  - profile.profile_option_causes.each do |cause|
                    %li= cause.title
                - if profile.profile_option_causes.length > 8
                  %a{ class: "see-more", id: "see-more-causes" }See more

                - if profile.causes_comment
                  = markdown profile.causes_comment

              - if profile.profile_option_activities.any?
                %h2 My high impact activities
                %ul{ class: "shortened-list", id: "activities-list" }
                  - profile.profile_option_activities.each do |activity|
                    %li= activity.title
                - if profile.profile_option_activities.length > 8
                  %a{ class: "see-more", id: "see-more-activities"}See more 

                - if profile.activities_comment
                  = markdown profile.activities_comment

        - if profile.positions.any? || profile.educations.any?
          .section
            .title
            .body
              - if profile.positions.any?
                %h2 Experience
                = render partial: 'etkh_profiles/positions/positions', locals: { positions: profile.positions, edit_profile: false }
                - if profile.positions.length > 3
                  %a{ class: "see-more", id: "see-more-positions"}See more
                %hr

              - if profile.educations.any?
                %h2 Education
                = render partial: 'etkh_profiles/educations/educations', locals: { educations: profile.educations, edit_profile: false }
                - if profile.educations.length > 3
                  %a{ class: "see-more", id: "see-more-educations"}See more


        - if !profile.donation_percentage_optout || user.donations.any?
          .section
            .title
            .body
              - if !profile.donation_percentage_optout
                %h2 Donation pledge
                .donations-thermometer.well
                  .text
                    %p 
                      I have pledged to donate #{profile.donation_percentage}% of my pre-tax income to cost-effective causes.
                  .bar-container
                    .progress.progress-striped.progress-danger
                      .bar{:"data-percentage" => profile.donation_percentage}

              // only show donations to members
              - if current_user and current_user.eighty_thousand_hours_member?
                - donations = user.donations.order("date DESC")
                - if donations.confirmed.is_public.size > 0
                  .donations{:id => "#{user.slug}-donations"}
                    %h2
                      Donations
                    %p
                      %ul
                        - donations.each do |donation|
                          - if donation.public
                            %li
                              = render donation
                    - if donations.length > 8
                      %a{ class: "see-more", id: "see-more-donations"}See more

          // only show skills to other members
          - if current_user and current_user.eighty_thousand_hours_member?
            - if profile.skills_knowledge_share? || profile.skills_knowledge_learn?
              .section
                .title
                  Skills and Knowledge
                .body
                - if profile.skills_knowledge_share?
                  %h2 Skills and knowledge I can share with other members
                  %p= profile.skills_knowledge_share
                - if profile.skills_knowledge_learn?
                  %h2 Skills and knowledge I would like to learn from other members
                  %p= profile.skills_knowledge_learn

    .span4
      .sidebar
        .section#recent-activity
          %h3
            Recent activity
          %hr
          .body
            - activity_count = 0
            - if user.blog_posts.any?
              - activity_count += 1
              .blog-posts
                %h3 Blog posts published
                - user.blog_posts.published.limit(3).each do |post|
                  = link_to post.title, post, class: "activity-link"
            
            - if user.discussion_posts.any?
              - activity_count += 1
              .discussion-posts
                %h3 Discussion posts created
                - user.discussion_posts.published.limit(3).each do |post|
                  = link_to post.title, post, class: "activity-link"
            
            - if activity_count < 2
              - if user.comments.any?
                - activity_count += 1
                .comments
                  %h3 Comments made on posts
                  - user.comments.order("created_at DESC").limit(3).each do |comment|
                    = link_to comment.get_post.title, comment.get_post, class: "activity-link"
            
            - if activity_count < 3
              - if user.votes.upvotes.any?
                .upvotes
                  %h3 Blog posts liked
                  - user.votes.upvotes.belongs_to_blog_post.recent.each do |vote|
                    -#%p Liked blog post
                    = link_to vote.post.title, blog_post_path(vote.post), class: "activity-link"
        
        .section#temp
          .body
            - upvotes = user.votes.upvotes.recent
            - if upvotes.size > 0
              %p
                %h5 Recent activity
                - user.blog_posts.published.limit(3).each do |post|
                  wrote blog post:
                  %br
                  =link_to post.title, post
                  %br
                - upvotes.limit(3).each do |v|
                  - if v.post.instance_of?(BlogPost)
                    liked blog post:
                    %br
                    =link_to v.post.title, blog_post_path(v.post)
                    %br

            -if user.external_links?
              %p
                %h5 External links
                - if user.external_website?
                  = link_to "<i class='icon-info-sign'></i> Personal website".html_safe, user.external_website
                  %br

                - if user.external_twitter?
                  = link_to image_tag("social/twitter.png") + " Twitter".html_safe, user.external_twitter
                  %br
                
                - if user.external_facebook?
                  = link_to image_tag("social/facebook.png") + " Facebook".html_safe, user.external_facebook
                  %br
                
                - if user.external_linkedin?
                  = link_to image_tag("social/linkedin.png") + " LinkedIn".html_safe, user.external_linkedin
                  %br

            %p
              %h5 Navigation
              = link_to '<i class="icon-user"></i> view all members'.html_safe, etkh_profiles_path
