-# user passed in as local var
- profile = user.etkh_profile
#profile-hover
  .row-fluid
    .span4
      .avatar
        = link_to image_tag(user.avatar.url(:small)), "/members/#{user.slug}"
    .span8
      .body
        .name
          = link_to user.name, "/members/#{user.slug}"
        .content
          %p.location 
            = user.location
          %p.position
            = profile.current_position
          %p.organisation
            = profile.organisation
          %p.industry
            = profile.career_sector