.profile-teaser
  .row-fluid
    .span2
      .avatar
        = link_to (image_tag user.avatar(:thumb)), etkh_profile_path(user)
    
    .span10
      .heading
        .name
          = link_to user.name, etkh_profile_path(user)
        .location
          %p= user.location
        .organisation
          %p= user.etkh_profile.organisation
        %hr

      .body
        .row-fluid
          .span3
            .labels
              .background-label
                %p Background
              - if user.etkh_profile.profile_option_causes.any?
                .causes-label
                  %p Causes

          .span9
            .info
              .background
                = markdown (user.etkh_profile.get_background_snippet(100, 150) + "... [read more](#{etkh_profile_path(user)})")
              - if user.etkh_profile.profile_option_causes.any?
                .causes
                  - user.etkh_profile.profile_option_causes.limit(3).each do |cause|
                    -#= cause.title + ", "
