.form
  = form_tag('members/search', remote: true) do
    .labels
      = label_tag :name
      = label_tag :location
      = label_tag :organisation
      = label_tag :industry
      = label_tag :position

    .inputs
      = text_field_tag :name
      = text_field_tag :location
      = text_field_tag :organisation
      = text_field_tag :industry
      = text_field_tag :position

    .button
      = submit_tag "Search", name: nil, id: "search-btn"


:javascript
  $("#search-btn").click( function() {
    $("#members-list").fadeOut(400);
  });