- content_for :javascript_includes do
  = javascript_include_tag "edit-profile.js"
.edit-profile
  .row
    .span12
      .row
        .span7
          .box
            .heading
              .name
                %h1= current_user.name
              %hr
            
            .form
              %h2 Fill in your profile
              = render 'form'

        .span1
          &nbsp;
            
        .span4
          .box.sidebar
            .completeness
              = render partial: 'profile_completeness', locals: { value: current_user.etkh_profile.completeness_score, textType: "text" }
              %hr
            #linkedin
              .header
                = image_tag("/assets/linkedin/linkedin-logo32.png")
              #pull-profile
                %p Fill in your profile with data from your LinkedIn profile
                - if @linkedin_signup
                  = link_to image_tag('/assets/linkedin/linkedin_button.gif', size: '140x30'), {controller: 'authentications', action: 'linkedin_getprofile'}, remote: false, id: "linkedin-profile-btn"
                - else
                  = link_to image_tag('/assets/linkedin/linkedin_button.gif', size: '140x30', id: "btn-update-profile"), {controller: "etkh_profiles", action: "show_linkedin_popup", linkedin_signup: @linkedin_signup}, remote: true
              = content_tag "div", id: "linkedin-signup", data: { linkedin_signup: @linkedin_signup} do
                -# this comment is important for syntax
              #linkedin-modal
            %hr

            %h2 Public profile
            %p
              By creating a public profile, you can help inspire new people to join 80,000 Hours.
              Seeing example members is a really effective way to persuade others to join.
              You can also make yourself known to our community, which might lead to
              connections with other effective altruists.

            %h2 Markdown
            %p All the text fields can be formatted using the <a href="http://daringfireball.net/projects/markdown/syntax">Markdown syntax</a>. For example:
            %p **bold text** == <strong>bold text</strong>
            %p _italic text_ == <em>italic text</em>
            %p [a link](http://80000hours.org/) == <a href="http://80000hours.org">a link</a>
