- content_for :javascript_includes do
  = javascript_include_tag "view-profile.js"
  = javascript_include_tag "jquery.reveal.js"
  = javascript_include_tag "jquery.hoverIntent.minified.js"

= render :partial => 'profile', :locals => { :profile => @profile }

.box
  .center
    = link_to '<i class="icon-user"></i> back to member list'.html_safe, etkh_profiles_path
