.row.request_application
  .col-md-9
    %p 
      :markdown
        If you’re interested in having a big impact with your life, we’d like to help you! Use the form below to ask to speak to one of our advisers.
        Please also note that our advice service is currently in a trial phase. One thing this means is that we sometimes run out of capacity, and we won’t always be able to give you a session. We apologise in advance if this is the case.
      

    = simple_form_for @career_advice_request, :url => { :action => "create" }, :html => { :multipart => true, :class => 'form-horizontal' }  do |f|

      = f.error_notification

      = field_set_tag "Your contact details" do
        = f.input :name
        = f.input :email
        = f.input :skype, placeholder: 'optional',
          hint: 'required if you are unable to come to our office in Oxford'

        = f.input :background, :as => :text, placeholder: 'Briefly describe your background, what you currently do, and your interests.'
        = f.input :thoughts, :as => :text, label: 'What are your thoughts on how you could make a difference?'
        = f.input :questions, :as => :text, label: 'What questions do you have for our advisor?'
        = f.input :upload_cv, :as => :file, label: 'If you have a CV (even an old one) it would be helpful for us to have a look so that we can tailor our advice to you.'
        = f.input :mailing_list, :as => :boolean, :input_html => { :checked => true }, label: 'Would you like to receive our emails summarising our latest advice content?'
      .form-actions
        %p
          :markdown
            We can give you information about your career options that we hope is useful. But, at the end of the day, how you choose to use this information is up to you. 
              **We can't take responsibility for the outcomes of your choices.**
            Our advisors are not professionally qualified career counsellors or advisors. We recommend you use our advice alongside someone professionally qualified.

            The contents of guidance sessions are kept between you and the 80,000 Hours careers advice team. This allows us to most effectively improve our service. On request, we’re happy to make the session confidential between you and the person you speak to.

            Please note that though we take reasonable precautions to keep the information private, we do not take responsibility for damages caused by data that is leaked or stolen.

        = f.button :submit, "Request session", :"data-loading-text" => "Please wait..."
      
  .col-md-3
    .sidebar-image
      = image_tag("/assets/pages/coaching/collin-coaching.png")
