<h1>Listing page_feedbacks</h1>

<table>
  <tr>
    <th>Rating</th>
    <th>Comments</th>
    <th>Page</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @page_feedbacks.each do |page_feedback| %>
  <tr>
    <td><%= page_feedback.rating %></td>
    <td><%= page_feedback.comments %></td>
    <td><%= page_feedback.page %></td>
    <td><%= link_to 'Show', page_feedback %></td>
    <td><%= link_to 'Edit', edit_page_feedback_path(page_feedback) %></td>
    <td><%= link_to 'Destroy', page_feedback, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Page feedback', new_page_feedback_path %>
