<p id="notice"><%= notice %></p>

<%= @params %>

<p>
  <b>Rating:</b>
  <%= @page_feedback.rating %>
</p>

<p>
  <b>Comments:</b>
  <%= @page_feedback.comments %>
</p>

<p>
  <b>Page:</b>
  <%= @page_feedback.page %>
</p>


