= "Hi,"
:plain

= "You have been contacted by #{@contact_name}"
:plain

= "-------------------------------------------"
= "Subject: #{@subject}"
:plain

= @body
:plain

= "-------------------------------------------"
:plain

= "To reply directly send an email to #{@contact_email}"
:plain

Best regards,
80000hours.org