.entry
  .box
    .heading
      %h1
        = blog_post.title
        - if blog_post.draft
          %span.label.label-warning Draft post (not publicly visible)
      .metadata
        = raw("#{link_to_blog_post_author( blog_post )}, #{format_date(blog_post.created_at)}")
        </br>

    .content
      = markdown blog_post.body
    = render :partial => "post_tags", :locals => { :post => blog_post, :div_title => "tags:" }
