= simple_form_for @post, :defaults => { :input_html => { :class => 'span12' } }, :html => { :multipart => true } do |f|
  .form-inputs
    
    = field_set_tag 'Attached images' do
      .attached-images
        = f.simple_fields_for :attached_images do |asset|
          - if asset.object.new_record?
            = asset.input :image, :label => "Add an image"
          - else
            .attached-image-thumb
              %h3= asset.object.image_file_name
              .image
                %ul.thumbnails
                  %li
                    = link_to( image_tag(asset.object.image.url(:small)), asset.object.image.url(:original), :class=>'thumbnail' )
              Delete image: 
              =asset.check_box :_destroy
              %hr
              %strong small:
              .copy-paste
                = h "<a href='#{asset.object.image.url(:original)}'>#{image_tag asset.object.image.url(:small), :class => 'image small'}</a>"
              %strong medium:
              .copy-paste
                = h "<a href='#{asset.object.image.url(:original)}'>#{image_tag asset.object.image.url(:medium), :class => 'image medium'}</a>"
              %strong large:
              .copy-paste
                = h "<a href='#{asset.object.image.url(:original)}'>#{image_tag asset.object.image.url(:large), :class => 'image large'}</a>"

    %hr
    = f.input :image_attribution, :label => "Image Attribution Text", :input_html => { :class => "col-md-12", :rows => 3 }
    %hr

  .form-actions
    = f.button :submit
    or
    = link_to 'cancel', :back
