.blog
  .row.index
    .col-md-7
      .row
        .col-md-12
          - @posts.each do |post|
            - if @condensed
              = render :partial => 'display_heading',
                       :locals => { :post => post }
            - else
              = render :partial => 'display_teaser',
                       :locals => { :post => post }
        .col-lg-12
          - if (@sort == nil) && (will_paginate @posts)
            = page_navigation_links @posts
    .col-md-1
    .col-md-3
      .box.sidebar.blog-sidebar
        %p
          .fblike
            <fb:like href="#{blog_posts_path}" send="false" width="450" show_faces="false"></fb:like>

        = render :partial => "subscribe"
        %hr
        = render :partial => "popular_posts"


