.blog
  .row.index
    .col-md-7
      .row
        .col-md-12
          - @posts.each do |post|
            - if @condensed
              = render :partial => 'display_heading',
                       :locals => { :post => post }
            - else
              = render :partial => 'display_teaser',
                       :locals => { :post => post }
        .col-lg-12
          - if (@sort == nil) && (will_paginate @posts)
            = page_navigation_links @posts
    .col-md-1
    .col-md-4
      .box.sidebar.blog-sidebar
        = image_tag("/assets/blog/ben-7.png")
        .section
          = render :partial => "subscribe"
        .section
          = render :partial => "popular_posts"

