.box
  - @selection_list.users.each do |user|
    %h3
      = link_to "#{user.name}", "/members/#{user.slug}"
  %hr
  - more_users = @selection_list.generate_more_users(10)
  - more_users.each do |user|
    %h3
      = link_to "#{user.name}", "/members/#{user.slug}"
