.activity-list
  .heading
    %h1.name= @user.name
    .profile-link
      = link_to "back to member's profile", "/members/#{@user.slug}"
    %br
    #activity-select
      .activity
        - if @activity_type == "BlogPosts"
          .activity-link.selected= "Blog posts"
        - else
          = link_to "Blog posts", {controller: "users", action: "user_activity", id: @user.id, activity_type: "BlogPosts"}, id: "blog", class: "activity-link"
        .break
          = " | "
      .activity
        - if @activity_type == "ForumPosts"
          .activity-link.selected= "Forum posts"
        - else
          = link_to "Forum posts", {controller: "users", action: "user_activity", id: @user.id, activity_type: "ForumPosts"}, id: "blog", class: "activity-link"
        .break
          = " | "
      .activity
        - if @activity_type == "Comments"
          .activity-link.selected= "Comments"
        - else
          = link_to "Comments", {controller: "users", action: "user_activity", id: @user.id, activity_type: "Comments"}, id: "blog", class: "activity-link"
  %hr
