.coaching-page
  .back-large
    .container
      .row
        .col-sm-6
          .summary
            %h2
              You have many options open to you, and you’ll have far more impact in some than others. It can be tough to know which to choose.
            %h2
              We’re the only people in the world who specialise in helping you work out how to maximise your social impact: finding out how to improve the lives of as many people as possible, in the biggest ways, over the long-term.
            .buttons
              = link_to 'Information', '/coaching/information', :class => 'btn btn-large btn-default'
              = link_to 'Application', '/coaching/application', :class => 'btn btn-large btn-default'
        .col-sm-6
          = image_tag("/assets/pages/coaching/collin-coaching2.png")
  .items
    .container
      .row
        .col-sm-3.item
          .text-center
            = image_tag("/assets/pages/coaching/icons/165.png")
            %h2
              One-to-one Coaching 
          %p
            Over a series of meetings, our coaches will help you structure your decision, clarify your plans and options, and identify actionable next steps.
        .col-sm-3.item
          .text-center
            = image_tag("/assets/pages/coaching/icons/272.png")
            %h2
              Our Expertise
          %p 
            Our team and advisors will apply their knowledge of the effectiveness of different causes and the opportunities within different careers to your situation.
        .col-sm-3.item
          .text-center
            = image_tag("/assets/pages/coaching/icons/124.png")
            %h2
              Personalized Research
          %p 
            We'll carry out 1-4 days of personalised research into the questions that matter most to your career decisions, presenting you with a complete write up and record of all conversations.
            
        .col-sm-3.item
          .text-center
            = image_tag("/assets/pages/coaching/icons/152.png")
            %h2
              Quality Connections
          %p 
            Wherever possible, we'll introduce you to other people in our community who can help you make a difference in your career.
