.row

  .col-sm-6
    %p
      You probably have many options open to you, and in some you’ll have far more impact than others. It can be tough to know which to choose. 
    %p
      We’re the only people in the world who specialise in helping you work out how to maximise your social impact: finding out how to improve the lives of as many people as possible, in the biggest ways, over the long-term.
  .col-sm-6
    = image_tag("/assets/pages/coaching/collin-coaching2.png")
<hr>
.row
  .col-sm-3
    .text-center
      = image_tag("/assets/front_page/icons/blue/272.png")
      %h3
        One-to-one meetings
    %p
      We'll have a few 1-2 hour meetings to get to know you and understand your concerns.  
  .col-sm-3
    .text-center
      = image_tag("/assets/front_page/icons/blue/272.png")
      %h3
        Individualised research
    %p 
      Our staff will spend several hours researching the literature behind each of your main career options to help you make the best choice.
  .col-sm-3
    .text-center
      = image_tag("/assets/front_page/icons/blue/272.png")
      %h3
        Personal documentation
    %p 
      We'll document all of our discussions and research in our Case Studies, which will be accessible to the entire community.
  .col-sm-3
    .text-center
      = image_tag("/assets/front_page/icons/blue/272.png")
      %h3
        The Altruist Community
    %p 
      If reasonable, we'll match you with others of similar values that may be able to help you in your personal journey.
