.dashboard 
  .row
    .span7
      - cache do
        .user-need-block
          %h1 Get advice
          .row.user-activity-block
            .span3
              %h2 Read articles
              =image_tag('/assets/dashboard/read_articles.png', :class => 'dashboard_icon')
            .span4.next-to-h2
              :markdown
                <p><a href="/getting-started" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Read_articles', '/getting-started']);">Getting started with career planning</a></p>
              
                <p><a href="/causes" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Read_articles', '/causes']);">High impact causes</a></p>
              
                <p><a href="/types-of-career" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Read_articles', '/types-of-career']);">Types of high-impact career</a></p>
                
                <p><a href="/career-strategy" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Read_articles', '/career-strategy']);">Big questions that affect your choice of career</a></p>
                
                <p><a href="/how-to-choose" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Read_articles', '/how-to-choose']);">A step-by-step process for choosing a career</a></p>
              
                <p>Also take a look at our <a href="/blog/sorted?order=votes" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Read_articles', '/blog/sorted?order=votes']);">most useful blog posts</a></p>

          .row.user-activity-block
            .span3
              %h2 Get career advice
              =image_tag('/assets/images/dashboard/career_advice.png', :class => 'dashboard_icon')
            .span4.next-to-h2
              :markdown
                Book a <a href="/request-a-career-advice-session" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Get career advice', '/request-a-career-advice-session']);">career advice session</a> for one-on-one advice with one of our careers advisors. They can discuss your best options and guide you on how to choose a high impact career.
              
                Ask a question or introduce yourself on our <a href="/forum" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Get career advice', '/forum']);">forum</a>
          .row.user-activity-block
            .span3
              %h2 Get a mentor
              =image_tag('/assets/images/dashboard/get_mentor.png', :class => 'dashboard_icon')
            .span4.next-to-h2
              :markdown
                Ask our more experienced members for advice about specific careers:
              
                <p><a href="/members/robbie-shade" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Get a mentor', '/members/robbie-shade']);">Robbie Shade</a> software developer at Google.</p>

                <p><a href="/members/sebastian-farquhar" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Get a mentor', '/members/sebastian-farquhar']);">Sebastian Farquhar</a> management consultant.</p>
                
                More coming soon ...

      .user-need-block
        %h1 Get involved
        .row.user-activity-block
          .span3
            %h2 Become a mentor
            =image_tag('/assets/images/dashboard/become_mentor.png', :class => 'dashboard_icon')
          .span4.next-to-h2
            :markdown
              If you have experience in a career, you can have an enormous impact by helping someone else.
            
              Contact [Richard Batty](mailto:richard.batty@80000hours.org) about becoming a mentor.
        .row.user-activity-block
          .span3
            %h2 Write articles
            =image_tag('/assets/images/dashboard/write_articles.png', :class => 'dashboard_icon')
          .span4.next-to-h2
            :markdown
              Contact [Ben Todd](mailto:ben@80000hours.org) if you'd like to write for the blog. Here's some topic ideas:
              * An in-depth profile of a particular career
              * An interview with someone who is particularly high-impact
              * Evidence-based advice on choosing careers or advancing in your career
        .row.user-activity-block
          .span3
            %h2 Volunteer
            =image_tag('/assets/images/dashboard/volunteer.png', :class => 'dashboard_icon')
          .span4.next-to-h2
            :markdown
              Check out our volunteering opportunities in <a href="/volunteer#communications" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Volunteer', '/volunteer#communications']);">communications</a>, <a href="/volunteer#research" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Volunteer', '/volunteer#research']);">research</a>, <a href="/volunteer#website" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Volunteer', '/volunteer#website']);">web design and development</a>, and <a href="/volunteer" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Volunteer', '/volunteer']);">many other roles</a>
              
        %h1 Track your impact
        .row.user-activity-block
          .span3
            %h2 Track donations
            =image_tag('/assets/images/dashboard/track_donations.png', :class => 'dashboard_icon')
          .span4.next-to-h2
            :markdown
              Track your donations <a href="/donations" onClick="_gaq.push(['_trackEvent', 'Dashboard', 'Donations tracking', '/donations']);">here</a> so that we know that our members are having impact and so we can get some friendly competition going between members.
              ###Latest 80,000 Hours donations:
              <br />
            - Donation.confirmed.slice(0, 4).each do |donation|
              %p
                = render donation

    .span1
      %p &nbsp;
    .span4.dashboard.blog.box.sidebar.blog-sidebar
      %br
      - if current_user && current_user.etkh_profile
        .completeness
          = render partial: 'etkh_profiles/profile_completeness', locals: { value: current_user.etkh_profile.completeness_score, textType: "link" }
          %hr
      = render partial: "./shared/mailing_list", locals: { text: "Get updates on the best of the blog" }
      %hr
      = render :partial => "blog_posts/popular_posts"
      %hr
      = render :partial => "blog_posts/latest_discussion_posts"
      %hr
      = render :partial => "blog_posts/latest_comments"
      %hr
      
      
