.home
  .background
    .section.cta-section
      .container
        %h1.text-center
          You've got 80,000 hours in your career.
        %h2.text-center
          How can you use them to solve the world's most pressing problems? </br> Our free coaching and research helps you find the careers and causes where you can make the most difference.
        .row.buttons
          .col-md-4.col-md-offset-2
            = link_to 'Get Career Coaching', '/coaching/overview', class: "btn btn-large secondary cta"
          .col-md-3
            = link_to 'Read Our Research', '/research', class: "btn btn-large primary cta"
    .section.people-say
      .container
        .row
          .col-sm-3.col-xs-6.profile
            .text-center
              = image_tag("/assets/front_page/people/Haydn.png")
            %p
              "80,000 Hours' coaching completely changed my career plans with their tailored and actionable research."
            %h4
              Haydn Belfield, Development Officer at CEA
          .col-sm-3.col-xs-6.profile
            .text-center
              = image_tag("/assets/community/overview/julia-wise.png")
            %p
              "I support 80,000 Hours because I wish I had been thinking about effective career choice starting a lot earlier. 80,000 Hours is exactly the kind of resource I wish had been around then!"
            %h4
              Julia Wise, Social Worker
          .col-sm-3.col-xs-6.profile
            .text-center
              = image_tag("/assets/front_page/people/Karolina.png")
            %p 
              "80,000 Hours has completely changed my view on how to connect one's passions with one's moral framework in this fast-paced century."
              Karolina Richterova
            %h4
              Karolina Richterova, Experimental Psychology Graduate Student
          .col-sm-3.col-xs-6.profile
            .text-center
              = image_tag("/assets/front_page/people/boris.png")
            %p
              "80,000 Hours shares a clear-headed approach to making the biggest positive difference in the world"
            %h4
              Boris Yakubchik, Maths Teacher


  .section.core-concepts
    .container
      %h1.text-center
        Core Concepts
      .row
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/103.png")
            %h2
              Maximizing Impact
          %p
            Some of the paths open to you have <a href="http://80000hours.org/blog/94-how-to-do-one-year-of-work-in-four-hours">far more impact than others</a>. That’s why we aim to seek out the most high impact opportunities in the world, and help you take them.
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/272.png")
            %h2
              Evidence-Based
          %p
            It’s <a href="http://80000hours.org/blog/66-social-interventions-gone-wrong">difficult to know</a> which paths to making a difference really work. That’s why we work with academics at Oxford and leaders in prioritisation research, and base our findings on our own in-depth research.
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/123.png")
            %h2
              Replaceability
          %p
            Some common ways to make a difference, like <a href="http://80000hours.org/blog/72-how-many-lives-does-a-doctor-save">becoming a doctor</a>, don’t make as much difference as you might first think. That’s because the work of many doctors and other professionals is replaceable. We seek out the opportunities that have the greatest <a href="http://80000hours.org/blog/112-what-s-your-true-impact">true impact</a>.
      %h1.text-center
        Main Research
      .row
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/181.png")
            %h2
              Best Causes
          %p
            How can you go about working out in which causes you can have the most impact? Start using <a href="/research">our framework</a> for assessing causes.
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/247.png")
            %h2
              Best Careers
          %p
            What are your most high impact career opportunities? Start using <a href="http://80000hours.org/blog/238-how-to-assess-the-impact-of-a-career">our framework</a> for assessing careers.
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/101.png")
            %h2
              Planning Process
          %p
            Having trouble tying it all together? Start by using our <a href="http://80000hours.org/blog/241-introduction-to-our-career-model">career model</a>. (And we won’t just tell you to do <a href="http://80000hours.org/blog/183-the-worst-ethical-careers-advice-in-the-world">‘do what you’re passionate about.’</a>)

  .section.affiliations
    .container
      .row
        .col-md-2
        .col-md-8
          .row.organizations
            .col-md-7
              .row
                .col-md-4.col-xs-6
                  = link_to image_tag("/assets/front_page/orgs/oxford-fb.jpg"), 'http://www.ox.ac.uk/'
                .col-md-4.col-xs-6
                  = link_to image_tag("/assets/front_page/orgs/fhisquare.png"), 'http://www.fhi.ox.ac.uk/'
                .col-md-4.col-xs-6
                  = link_to image_tag("/assets/front_page/orgs/ethics2.png"), 'http://www.practicalethics.ox.ac.uk/'
              %hr.dashed
              We're affiliated with and share offices with the University of Oxford's Future of Humanity Institute and are affiliated with the Uehiro Centre for Practical Ethics.
            .col-md-5
              .row
                .col-md-6
                  = link_to image_tag("/assets/front_page/orgs/gwwc.png"), 'http://www.givingwhatwecan.org/'
              %hr.dashed
              We're part of the Centre for Effective Altruism, and work closely with the non-profit evaluator Giving What We Can.
          <hr>
          .row.media
            = link_to "http://www.washingtonpost.com/blogs/wonkblog/wp/2013/05/31/join-wall-street-save-the-world/" do
              = image_tag("/assets/press/washpo.png", alt: "Washington Post logo")
            = link_to "http://www.bbc.co.uk/news/education-15820786" do
              = image_tag("/assets/press/bbc.png", alt: "BBC logo")
            = link_to "http://www.ted.com/talks/peter_singer_the_why_and_how_of_effective_altruism.html" do
              = image_tag("/assets/front_page/media/ted.png", alt: "TED logo")
            = link_to "http://www.thetakeaway.org/2013/feb/28/want-give-back-get-job-wall-street/" do
              = image_tag("/assets/front_page/media/npr_b.png", alt: "NPR logo")
        .col-md-2


