.home
  .background
    .section.cta-section
      .container
        %h1.text-center
          You’ve got 80,000 hours to </br> make a difference. 
        %h2.text-center
          Don't let them go to waste. Our free coaching and research helps you find the causes and careers in which you can make the biggest impact.
        .row.buttons
          .col-md-4.col-md-offset-2
            %button.btn.btn-large.cta{href: "/"}
              Read Our Research
          .col-md-3
            %button.btn.btn-large.cta{href: "/"}
              Get Career Coaching
    .section.people-say
      .container
        .row
          .col-md-3.profile
            .text-center
              = image_tag("/assets/front_page/people/1.png")
            %p
              "80,000 Hours really helped me to do such-and-such with my time.  Thank god!"
            %h4
              Mia George, Analyst
          .col-md-3.profile
            .text-center
              = image_tag("/assets/front_page/people/3.png")
            %p
              "80,000 Hours really helped me to do such-and-such with my time.  Thank god!"
            %h4
              Mia George, Analyst
          .col-md-3.profile
            .text-center
              = image_tag("/assets/front_page/people/2.png")
            %p
              "80,000 Hours really helped me to do such-and-such with my time.  Thank god!"
            %h4
              Mia George, Analyst
          .col-md-3.profile
            .text-center
              = image_tag("/assets/front_page/people/4.png")
            %p
              "80,000 Hours really helped me to do such-and-such with my time.  Thank god!"
            %h4
              Mia George, Analyst


  .section.core-concepts
    .container

      %h1.text-center
        Core Concepts
      .row
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/103.png")
            %h2
              Maximizing Impact
          %p
            Some of the paths open to you have far more impact than others. That’s why we aim to seek out the most high impact opportunities in the world, and help you take them.
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/247.png")
            %h2
              Evidence-Baced
          %p
            Some of the paths open to you have far more impact than others. That’s why we aim to seek out the most high impact opportunities in the world, and help you take them.
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/272.png")
            %h2
              Replacability
          %p
            Some of the paths open to you have far more impact than others. That’s why we aim to seek out the most high impact opportunities in the world, and help you take them.
      %h1.text-center
        Main Research
      .row
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/103.png")
            %h2
              Best Causes
          %p
            Some of the paths open to you have far more impact than others. That’s why we aim to seek out the most high impact opportunities in the world, and help you take them.
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/272.png")
            %h2
              Best Careers
          %p
            Some of the paths open to you have far more impact than others. That’s why we aim to seek out the most high impact opportunities in the world, and help you take them.
        .col-md-4.item
          .text-center
            = image_tag("/assets/front_page/icons/blue/272.png")
            %h2
              Planning Process
          %p
            Some of the paths open to you have far more impact than others. That’s why we aim to seek out the most high impact opportunities in the world, and help you take them.


  .section.affiliations
    .container
      .row
        .col-md-2
        .col-md-8
          .row.organizations
            .col-md-7
              .row
                .col-md-4
                  = image_tag("/assets/front_page/orgs/oxford-fb.jpg")
                .col-md-4
                  = image_tag("/assets/front_page/orgs/fhisquare.png")
                .col-md-4
                  = image_tag("/assets/front_page/orgs/ethics.png")
              %hr.dashed
              Our research is done with academics at the University of Oxford and 80,000 Hours is affiliated with the University of Oxford Uehiro Centre for Practical Ethics.
            .col-md-5
              .row
                .col-md-6
                  = image_tag("/assets/front_page/orgs/fhisquare.png")
                .col-md-6
                  = image_tag("/assets/front_page/orgs/oxford-fb.jpg")
              %hr.dashed
              80,000 Hours is part of the Centre for Effective Altruism, where it works closely with other CEA charity Giving What we Can.
          <hr>
          .row.media
            = link_to "http://www.washingtonpost.com/blogs/wonkblog/wp/2013/05/31/join-wall-street-save-the-world/" do
              = image_tag("/assets/press/washpo.png", alt: "Washington Post logo")
            = link_to "http://www.bbc.co.uk/news/education-15820786" do
              = image_tag("/assets/press/bbc.png", alt: "BBC logo")
            = link_to "http://www.ted.com/talks/peter_singer_the_why_and_how_of_effective_altruism.html" do
              = image_tag("/assets/press/ted_logo.png", alt: "TED logo")
            = link_to "http://www.thetakeaway.org/2013/feb/28/want-give-back-get-job-wall-street/" do
              = image_tag("/assets/press/npr.png", alt: "NPR logo")
        .col-md-2


