.team
  %h1 Core Team
  .row
    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/BenjaminTodd.jpg")
      .row
        .col-md-12
          %h2.name Benjamin Todd – Co-founder and Executive Director
          %p Ben co-founded 80,000 Hours in 2011 while studying for a Masters in Physics and Philosophy at Oxford.  In under three years with Ben’s leadership, 80,000 Hours has grown from a student society, to an Oxford affiliated start-up with ten full-time staff, 900 members.
          %p Outside of 80,000 Hours he has published in Climate Physics and speaks Chinese. Before 80,000 Hours, he was the first and only undergraduate to intern as an analyst at top investment fund, Orbis. Rather than taking the job, he persuaded the Chairman to donate £60,000 to his start-up non-profit!
          %a{href: "mailto:benjamin.todd@80000hours.org"} benjamin.todd@80000hours.org

    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/WillMacAskill.jpg")
      .row
        .col-md-12
          %h2.name Will MacAskill – Co-founder and President
          %p In 2009, Will co-founded Giving What We Can, a leading charity evaluator that has advised the UK government and World Bank. In 2011, he co-founded 80,000 Hours with Ben. While a Fulbright Scholar, he writes a column in Atlantic spin-off Qz.com, gives 30% of his stipend to charity, and has published in top philosophy journal Ethics.
          %a{href: "mailto:will.macaskill@80000hours.org"} will.macaskill@80000hours.org
    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/RomanDuda.jpg")
      .row
        .col-md-12
          %h2.name Roman Duda - Director of Content
          %p Roman did a fully-funded Masters in Philosophy at Oxford, during which he also consulted for a top 30 FTSE company on their business strategy, whilst also studying Mandarin Chinese. With a strong interest in Quantified Self, he has worked at the start-ups Memrise and Self Spark.
          %p He leads the management of the content development team, as well as our impact evaluation.
          %a{href: "mailto:roman.duda@80000hours.org"} roman.duda@80000hours.org

  .row
    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/TomAsh.jpg")
      .row
        .col-md-12
          %h2.name Tom Ash – Director of Operations
          %p Tom provides manages finances, legal and logistics shared 50% with Giving What We Can. After completing the BPhil in Philosophy at Oxford, he worked for 5 years as a professional web-developer at a variety of non-profits, including the New Internationalist.
    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/ThomasHendrey.jpg")
      .row
        .col-md-12
          %h2.name Thomas Henry - Researcher
          %p Thomas graduated from Monash University, Australia with a first class honours in Mathematics and Philosophy, coming top in his year in philosophy and statistics. He does research for our case studies and website content and is currently researching into entrepreneurship as a high impact career.
          %a{href: "mailto:thomas.hendrey@80000hours.org"} thomas.hendrey@80000hours.org

    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/Collin.jpg")
      .row
        .col-md-12
          %h2.name Collin O'Rourke - Case Study Manager
          %a{href: "mailto:collin.orourke@80000hours.org"} collin.orourke@80000hours.org


  .row
    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/OzzieGooen.jpg")
      .row
        .col-md-12
          %h2.name Ozzie Gooen - Web Developer
          %a{href: "mailto:ozzie.gooen@80000hours.org"} ozzie.gooen@80000hours.org
          
  <hr>
  %h1#our_advisors Our Advisors
  .row
    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/TobyOrd.jpg")
      .row
        .col-md-12
          %h2.name Dr Toby Ord
          %p Toby is a Fellow of Oxford University’s Future of Humanity Institute, an expert in global prioritisation, and has been repeatedly covered in the international media for promoting cost-effective philanthropy.
    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/paul.png")
      .row
        .col-md-12
          %h2.name Paul Christiano
          %p While a PhD candidate in Computer Science at Berkeley, Paul co-founded SPARC, which introduces the US’s top young mathematicians to how they can contribute to solving real world problems.
    .col-md-4.member
      .row
        .col-md-12
          = image_tag("/assets/pages/team/niel.png")
            
      .row
        .col-md-12
          %h2.name Niel Bowerman
          %p Niel has six years of experience in climate advocacy, during which he was on Obama’s 2008 Environment Policy Team, adviser to the President of the Maldives, founder of Climatico and named a Young Global Shaper by the World Economic Forum.


  <hr>
  %h1#community Community
  .row
    .col-md-4 
      %h2.name Abbie Taylor
      %em Head of the Oxford Student Group
      %p Abbie is a Medical student at Oxford University and organises the 80,000 Hours events in Oxford. Abbie is particularly interested in ways to make more difference in careers in the healthcare industry, and hopes to encourage other medical students to think more thoroughly about their impact.
    .col-md-4
      %h2.name Jacob Trefethen
      %em Head of the Cambridge Student Group
      %p Jacob is studying philosophy at Cambridge University and is president of the recently founded 80,000 Hours chapter in Cambridge.
    .col-md-4
      %h2.name Max Siegel
      %em Head of the Princeton Student Group
      %p Max is a philosophy student at Princeton University and director of the Princeton chapter of 80,000 Hours. He is interested in metaethics and wants to answer questions about value and practical reason that will help us to rank the most important global causes and the most effective interventions. He plans to pursue a career as a high-impact philosopher.
  %hr

