.row
  .span12
    = render :partial => 'admin_box'
- cache do
  .row
    .span7
      %div{ :class => @page.show_box ? 'box' : nil }
        = markdown @page.body
      .span1
        &nbsp;

    .span4
      .box.sidebar.page-sidebar
        - if @page.sidebar?
          - top_level = @page.root
          %ul.nav.nav-pills.nav-stacked
            %li.heading
              = top_level.get_menu_link

            - top_level.children.display_in_menu.each do |c|
              - if c == @page
                %li.active
                  = c.get_menu_link
              - else
                %li
                  = c.get_menu_link

        %br

        .feedback-box
          Help us make our site more awesome.
          %br
          Rate this page:
          %br
          - ['Bad', 'OK', 'Good'].each do |r|
            = link_to controller: :page_feedbacks, action: :new, 'page_feedback[page_id]' => @page.id, 'page_feedback[rating]' => r  do
              .btn.btn-feedback
                = r

