<div class="row">
  <div class="span8">
    <div id='new-member-survey'>
      <h1>Members Survey</h1>
      <p>We provide our professional careers research for free. As such, we must seek funding from donors and foundations. To do this we must demonstrate our impact. So, we really appreciate you taking the time to fill out these eight short questions as honestly and as accurately as possible. It also enables us to monitor our own impact, ensuring we’re cost-effective and letting us improve our service over time. All answers are confidential.</p>
      <hr/>

      <%= form_tag("/surveys/completed_new_member_survey", method: "PUT", id: "member-survey-form", class: "form-horizontal") do %>

        <div id="general" class="main-section">
          <h3>General</h3>
          <hr/>
          <div id='how-found-out' class="section">
            <%= label_tag :discovered, "How did you find out about 80,000 Hours?", class: "bold" %>
            <p class="tick">Tick as many options as apply to you</p>
            <div class="options">
              <label class="checkbox">
                <input type="checkbox" name="discovered_friend"> Recommended by a friend. If so, please say who below.
              </label>  
              <label class="checkbox">
                <input type="checkbox" name="discovered_online"> Online search
              </label> 
              <label class="checkbox">
                <input type="checkbox" name="discovered_blog"> Saw one of our blog posts on social media
              </label> 
              <label class="checkbox">
                <input type="checkbox" name="discovered_article"> Saw an article about us (please say which)
              </label> 
              <label class="checkbox">
                <input type="checkbox" name="discovered_event"> Attended an event (please say which)
              </label> 
              <label class="checkbox">
                <input type="checkbox" name="discovered_other"> Other (please say)
              </label> 
            </div>
            <div class="comments-section">
              <%= label_tag :discovered_comments, "Comments", class: "inline bold" %>
              <%= text_field_tag :discovered_comments, nil, class: "inline" %>
            </div>
          </div>

          <div id='why-joined' class="section">
            <%= label_tag :joined, "Why did you join 80,000 Hours?", class: "bold" %>
            <p class="tick">Tick as many options as apply to you</p>
            <div class="options">
              <label class="checkbox">
                <input type="checkbox" name="joined_chat"> To be able to chat to other members
              </label>  
              <label class="checkbox">
                <input type="checkbox" name="joined_find"> To find members who share your interests
              </label>
              <label class="checkbox">
                <input type="checkbox" name="joined_support"> To show your support for our ideas and encourage more people to join
              </label>
              <label class="checkbox">
                <input type="checkbox" name="joined_profile"> To create an online profile, with extra site features
              </label>
              <label class="checkbox">
                <input type="checkbox" name="joined_advice"> To gain better access to one-on-one careers advice
              </label>
              <label class="checkbox">
                <input type="checkbox" name="joined_goals"> To help you stay true to your goals to make the world a better place
              </label>
              <label class="checkbox">
                <input type="checkbox" name="joined_other"> Other
              </label>
            </div>
            <div class="comments-section">
              <%= label_tag :joined_comments, "Comments", class: "inline bold" %>
              <%= text_field_tag :joined_comments, nil, class: "inline" %>
            </div>
          </div>

          <div id="age" class="sub-section">
            <%= label_tag :age, "What is your age?", class: "inline bold" %>
            <p class="tick">This is so we know at what stage our members are at in their careers</p>
            <%= text_field_tag :age, nil, class: "inline numeric" %>
          </div>

          <div id="improve-world" class="sub-section">
            <%= label_tag :improve_world, "Making the world a better place is", class: "bold" %>
            <div class="options">
              <label class="radio">
                <input type="radio" name="improve_world" value="The main goal of my career"> The main goal of my career
              </label>
              <label class="radio">
                <input type="radio" name="improve_world" value="A major goal of my career"> A major goal of my career
              </label>
              <label class="radio">
                <input type="radio" name="improve_world" value="One of several significant goals for my career"> One of several significant goals for my career
              </label>
              <label class="radio">
                <input type="radio" name="improve_world" value="A minor goal for my career"> A minor goal for my career
              </label>
              
            </div>
            <div class="comments-section">
              <%= label_tag :improve_world_comments, "Comments", class: "inline bold" %>
              <%= text_field_tag :improve_world_comments, nil, class: "inline" %>
            </div>
          </div>

          <hr/>
        </div>

        <div id="impact" class="main-section">
          <h3>Impact</h3>
          <hr/>
          <div class="section" id="changed-ideas">
            <%= label_tag :changed_ideas, "How much do you think discovering the ideas and community of 80,000 Hours will change what you do with your career?", class: "bold" %>
            <div class="options">
              <label class="radio">
                <input type="radio" name="changed_ideas" value="Complete change"> Complete change
              </label>
              <label class="radio">
                <input type="radio" name="changed_ideas" value="Significant change"> Significant change
              </label> 
              <label class="radio">
                <input type="radio" name="changed_ideas" value="Some change"> Some change
              </label> 
              <label class="radio">
                <input type="radio" name="changed_ideas" value="Small change"> Small change
              </label> 
              <label class="radio">
                <input type="radio" name="changed_ideas" value="No change"> No change
              </label>
              <label class="radio">
                <input type="radio" name="changed_ideas" value="I don't know"> I don't know
              </label> 
            </div>

            <div class="sub-section" id="changes">
              <%= label_tag :changed, "What do you think this change (i) has involved (ii) will involve in the future?", class: "bold" %>
              <%= text_area_tag :changes, nil, class: "medium-text-area" %>
            </div>
          </div>

          <div class="sub-section", id="learning">
            <%= label_tag :learning, "What's the most useful thing you've learned from 80,000 Hours?", class: "bold" %>
            <%= text_area_tag :learning, nil, class: "medium-text-area" %>
          </div>
        </div>

        <div id="donations" class="main-section">
          <h3>Donations</h3>
          <hr/>
          <div class="sub-section", id="donation">
            <%= label_tag :donation, "Roughly how much money do you intend to donate over the next year?", class: "bold" %>
            <%= text_field_tag :donation, nil, class: "inline numeric" %>
            <%= select_tag :donation_currency, options_for_select(Donation.major_currencies(Money::Currency.table).map{|c|c.upcase}), class: "currency" %>
          </div>

          <div class="sub-section", id="counterfactual-donation">
            <%= label_tag :donation_counterfactual, "Roughly how much money do you think you would have donated over the next year if you hadn’t discovered the ideas of 80,000 Hours?", class: "bold" %>
            <%= text_field_tag :donation_counterfactual, nil, class: "inline numeric" %>
            <%= select_tag :donation_counterfactual_currency, options_for_select(Donation.major_currencies(Money::Currency.table).map{|c|c.upcase}), class: "currency" %>
          </div>
          <div class="sub-section">
            <%= label_tag :donation_comments, "Comments", class: "inline bold" %>
            <%= text_field_tag :donation_comments, nil, class: "inline" %>
          </div>

          <div class="section" id="organisations">
            <%= label_tag :organisations, "Which organisations do you intend to donate to?", class: "bold" %>
            <div class="options">
              <label class="checkbox">
                <input type="checkbox" name="donate_givewell"> Givewell recommended charity
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_gwwc"> Giving What We Can recommended charity
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_developing"> Other charities working to help people in the developing world
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_political"> Political organisations
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_developed"> Charities working to help people in the developed world
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_eaa"> Effective Animal Activism recommended charity
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_animal"> Other animal charities
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_xrisk"> Organisations trying to reduce the risk of global catastrophe
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_meta"> Meta-charities (charities that evaluate other charities or causes)
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_future"> A fund to save for future donations
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_other"> Other
              </label>
            </div>
          </div>

          <div class="section" id="organisations-counterfactual">
            <%= label_tag :organisations_counterfactual, "If you had not discovered the ideas of 80,000 Hours, which organisations would you have donated to?", class: "bold" %>
            <div class="options">
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_givewell"> Givewell recommended charity
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_gwwc"> Giving What We Can recommended charity
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_developing"> Other charities working to help people in the developing world
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_political"> Political organisations
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_developed"> Charities working to help people in the developed world
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_eaa"> Effective Animal Activism recommended charity
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_animal"> Other animal charities
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_xrisk"> Organisations trying to reduce the risk of global catastrophe
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_meta"> Meta-charities (charities that evaluate other charities or causes)
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_future"> A fund to save for future donations
              </label>
              <label class="checkbox">
                <input type="checkbox" name="donate_counterfactual_other"> Other
              </label>
            </div>
          </div>

          <div class="sub-section">
            <%= label_tag :organisations_comments, "Comments", class: "inline bold" %>
            <%= text_field_tag :organisations_comments, nil, class: "inline" %>
          </div>
        </div>

        <div id="bottom">
          <%= submit_tag "Submit", id: "submit-btn", class: "btn btn-large btn-success" %>
          <p id="thank-you">Thank you for taking the time to fill in the survey.</p>
        </div>
      <% end %>
    </div>
  </div>
</div>

<script type="text/javascript">
  $(document).ready( function() {
    $("#submit-btn").click( function() {
      $(this).fadeOut('normal', function(){
        $("#thank-you").fadeIn();
      });
    });
  });
</script>