.dashboard
  %table.table.table-bordered
    %thead
      %tr
        %th.some{:style => "width:100px"} Release Date
        %th.some{:style => "width:400px"} Title
        %th.some{:style => "width:150px"} Author
        %th Types
        %th Score
        %th Time to Write
        %th Readership Hours
        %th Likes
    %tbody
      -@posts.each do |post|
        %tr
          %th 
            - if !post.published_at.nil?
              = post.published_at.strftime("%m/%d/%Y")
          %th 
            = link_to post.title, post
          %th 
            = post.user.nil? ? (link_to post.author, post.author) : (link_to post.user.name, post.user)
          %th
            = post.type_list.join(', ')
          %th
            = post.total_average_rating if (post.total_average_rating != 0.0)
          %th
            = 2 + rand(10)
          %th
            = rand(5000)
          %th 
            = post.facebook_likes
