<div class="rubric">
  <div class="row">
    <div class="col-md-8">
      <h2> Article Feedback </h2>
    </div>
    <div class="col-md-4">
      <p> Please rate the following 1-5 </p>
    </div>
  </div>
  <%= form_for([@post, @rating]) do |f| %>
    <% if @rating.errors.any? %>
    <div id="error_explanation">
    <h2><%= pluralize(@rating.errors.count, "error") %> prohibited this rating from being saved:</h2>

    <ul>
      <% @rating.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
<% end %>

  <div class="row">
    <div class="col-md-10">
      <div class="row">
        <table class="table">
          <thead>
            <%= render :partial => '/blog_posts/ratings/categories', :locals => { :empty => false, :total => false } %>
          </thead>
          <tbody>
          <tr>
            <% Rating::CATEGORIES.each do |category| %>
            <td>
              <div class="field">
                <%= f.number_field category.to_sym, in: 1...6, :autocomplete => 'off', :class => "form-control", :value => 3 %>
              </div>
            </td>
          <% end %>
         
          </tr>
          </tbody>
        </table>
      </div>
      <div class="row">
        <%= f.text_area :comment, :class => "form-control", :placeholder => "Optional comment here", :rows => 4%>
      </div>
    </div>
    <div class="col-md-2">
      <div class="actions">
        <%= f.submit 'Submit Score', :class => "cta btn btn-large btn-primary" %>
      </div>
    </div>
  </div>

<% end %>
</div>  

<%= render :partial => '/blog_posts/ratings/category_descriptions' %>

