<div class="row">
  <div class="col-md-12">
    <table class="table table-bordered">
      <thead>
        <%= render :partial => '/blog_posts/ratings/categories', :locals => { :empty => false, :total => true } %>
      </thead>
      <tbody>
      <tr>
        <% Rating::CATEGORIES.each do |category| %>
          <td> <%= @post.average_rating(category) %> </td>
      <% end %>
        <td> <%= @post.total_rating %> </td>
      </tr>
      </tbody>
    </table>
  </div>

</div>
    <%= link_to 'Complete Rubric', blog_post_ratings_path(@post)  %>
    <br>
    <br>
<%= render :partial => '/blog_posts/ratings/category_descriptions' %>

