<%= current_user and can? :access, Rating %>

<h2> Ratings for <%= link_to @post.title, @post %> </h2>
<br>
<table class="table table-bordered table-hover table-striped">
  <thead>
    <%= render :partial => '/blog_posts/ratings/categories', :locals => { :empty => true, :total => true, :comment => false } %>
  </thead>
  <tbody>
  <tr>
    <td> Average </td>
    <% Rating::CATEGORIES.each do |category| %>
      <td> <%= @post.average_rating(category) %> </td>
  <% end %>
    <td> <%= @post.total_average_rating %> </td>
  </tr>
  <% @ratings.each do |rating| %>
    <tr>
      <td style="min-width:160px" > <%= link_to rating.user.name, rating.user%> </td>
    <td> <%= rating.average %> </td>
    <td> <%= rating.overall %> </td>
    <td> <%= rating.original %> </td>
    <td> <%= rating.practical %> </td>
    <td> <%= rating.persuasive %> </td>
    <td> <%= rating.transparent %> </td>
    <td> <%= rating.accessible %> </td>
    <td> <%= rating.engaging %> </td>
  </tr>
<% end %>

  </tbody>
</table>

<table class="table table-bordered table-hover table-striped">
  <tr>
    <th style="width:160px"> </th>
    <th> Comment </th>
  <thead>
  </thead>
  <tbody>
    <% @ratings.each do |rating| %>
    <tr>
      <td style="min-width:160px" > <%= link_to rating.user.name, rating.user%> </td>
    <td style="min-width:500px"><h4> Article </h4> <%= simple_format(rating.comment)  %><h4> Rubric</h4><%= simple_format(rating.rubric_comment)  %> </td>
  </tr>
<% end %>

  </tbody>
</table>

<%= render :partial => '/blog_posts/ratings/category_descriptions' %>
