<h2> Ratings for <%= link_to @post.title, @post %> </h2>
<br>
<table class="table table-bordered">
  <thead>
    <%= render :partial => '/blog_posts/ratings/categories', :locals => { :empty => true, :total => true } %>
  </thead>
  <tbody>
  <tr>
    <td> Average </td>
    <% Rating::CATEGORIES.each do |category| %>
      <td> <%= @post.average_rating(category) %> </td>
  <% end %>
    <td> <%= @post.total_rating %> </td>
    <td></td>
  </tr>
  <% @ratings.each do |rating| %>
    <tr>
    <td> <%= link_to rating.user.name, rating.user%> </td>
    <td> <%= rating.overall %> </td>
    <td> <%= rating.original %> </td>
    <td> <%= rating.practical %> </td>
    <td> <%= rating.persuasive %> </td>
    <td> <%= rating.transparent %> </td>
    <td> <%= rating.accessible %> </td>
    <td> <%= rating.engaging %> </td>
    <td> <%= rating.total %> </td>
    <td> <%= rating.comment %> </td>
  </tr>
<% end %>

  </tbody>
</table>

<%= render :partial => '/blog_posts/ratings/category_descriptions' %>
