.row
  .span7
    %h1 Career advice session
    %p 
      :markdown
        Do you care about making a big positive impact with your career, and want to use the latest evidence to increase the scale of your impact? If yes, then we can help.

        [We’re changing the way we do our careers coaching:](http://80000hours.org/blog/232-we-re-changing-our-career-coaching) we’re going to go more in-depth, and spend more time researching the specific questions that we think will help people have more impact. Unfortunately this means that we’re only going to be able to coach a small proportion of people who put in requests at the moment. If this isn’t you, we’re really sorry - but we hope that our findings will generalise to help many more people, and to expand to increase our capacity in the future.


        To find out more about how career coaching works, go back to the [get coaching page](http://80000hours.org/get-coaching).

        # Request a Career Coaching Session

    = simple_form_for @coaching_request, :url => { :action => "create" }, :html => { :multipart => true, :class => 'form-horizontal' }  do |f|

      = f.error_notification
      
      = field_set_tag "Your contact details" do
        = f.input :name
        = f.input :email
        = f.input :skype, placeholder: 'optional',
          hint: 'required if you are unable to come to our office in Oxford'


        %h3
          It would also really help us if you could briefly answer the following questions:

        %br

        = f.input :age, hint: "(This is so that we have an idea what stage you are at in your career.)"

        %label 
          %strong Which of the following statements best describe your current situation?
          - CoachingRequest::SituationOptions.each do |tag, option|
            %label
              = f.radio_button(:current_situation, tag)
              = option

        %br

        %label 
          %strong For me, making the world a better place is:
          - CoachingRequest::BetterWorldOptions.each do |tag, option|
            %label
              = f.radio_button(:wants_better_world, tag)
              = option

        %br
        %br
        = f.input :current_career_plans, :as => :text, label: "What are your current career plans or current thoughts on making a difference through your career?"

        %br
        %br
        = f.input :conterfactual_career_plans, :as => :text, label: "What would your career plans be if you hadn’t come across 80,000 Hours? <em>(We ask this to help us track our impact.)</em>"


        %label 
          %strong What causes do you most expect to use your career to work towards?
          - CoachingRequest::CauseOptions.each do |tag, option|
            %label
              = f.radio_button(:wants_better_world, tag)
              = option

        = f.input :other_factors, label: "Other causes"
        (We also have a list of 
        = link_to "further potentially important causes",  "/other-causes"
        )

        %br
        %br

        %label 
          %strong How likely do you think it is that you’ll want to work on a different cause in three years time?
          - CoachingRequest::SwitchingCauseOptions.each do |tag, option|
            %label
              = f.radio_button(:current_career_plans, tag)
              = option

        %br
        %br
        = f.input :questions, :as => :text, label: "What are your main questions for a career coach?"
        
        %br

        %p
        = f.input :upload_cv, :as => :file, label: 'If you have a CV (even an old one) it would be helpful for us to have a look so that we can tailor our advice to you.'

        %p
          :markdown
            *Before requesting careers advice, please make sure you’re familiar with our basic ideas by checking out [our videos](http://80000hours.org/getting-started) and some of our [key blog posts](http://80000hours.org/blog/188-what-should-i-read-if-i-m-new). It’s also worth looking at our list of [the best resources for planning your career](http://80000hours.org/blog/149-the-best-resources-for-planning-your-career).*

      .form-actions
        = f.button :submit, "Request session", :"data-loading-text" => "Please wait..."
      

      
