.row
  .span7
    %h1 Career advice session
    %p 
      :markdown
        Do you care about making a big positive impact with your career, and want to use the latest evidence to increase the scale of your impact? If yes, then we can help.

        *Note that we don’t have special expertise on issues covered by standard career advice, like how to write a CV, or how to get specific jobs. If this is what you’re after, check out a local careers service (like the [Oxford University Careers Service](http://www.careers.ox.ac.uk/)) and our list of [the best resources for planning your career](http://80000hours.org/blog/149-the-best-resources-for-planning-your-career).*

        # Request a Career Coaching Session

    = simple_form_for @coaching_request, :url => { :action => "create" }, :html => { :multipart => true, :class => 'form-horizontal' }  do |f|

      = f.error_notification
      
      = field_set_tag "Your contact details" do
        = f.input :name
        = f.input :email
        = f.input :skype, placeholder: 'optional',
          hint: 'required if you are unable to come to our office in Oxford'

        %label 
          %strong Which of the following statements best describe your current situation?
          - CoachingRequest::SituationOptions.each do |tag, option|
            %label
              = f.radio_button(:current_situation, tag)
              = option

        %label 
          %strong For me, making the world a better place is:
          - CoachingRequest::BetterWorldOptions.each do |tag, option|
            %label
              = f.radio_button(:wants_better_world, tag)
              = option

        %strong How much do the following factors prevent you from having impact with your career?

        %label I don’t know what concrete options I have for an impactful career
        - CoachingRequest::LimitingFactors.each do |tag, option|
          %label
            = f.radio_button(:dont_know_options, tag)
            = option

        %label I feel confused about how to choose between options given my unique situation
        - CoachingRequest::LimitingFactors.each do |tag, option|
          %label
            = f.radio_button(:cant_decide, tag)
            = option

      .form-actions
        = f.button :submit, "Request session", :"data-loading-text" => "Please wait..."
      

      
